/* Custom Fonts */
@font-face {
	font-family: Avenir;
	src: url("/fonts/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
	font-family: Avenir;
	font-weight: bold;
	src: url("/fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
	font-family: Produkt;
	src: url("/fonts/Produkt-Light.otf") format("opentype");
}

/* Text Highlighting */
::selection {
  background: #3894ff; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #3894ff; /* Gecko Browsers */
}

/* White highlighting in welcome div */
.welcome ::selection {
	background: #fff;
}

.welcome ::moz-selection {
	background: #fff;
}

/* Global CSS */
body {
	margin: 0px;
	font-family: 'Avenir', sans-serif;
	background: #cff1ff;
}

h1 {
	font-family: 'Produkt', serif;
	font-weight: normal;
	font-size: 40px;
}

h2 {
	font-weight: normal;
	font-size: 20px;
}

/* CSS for Mobile Views */
.mobile {
	display: block;
}

.no-mobile {
	display: none;
}

/* Class CSS */
.welcome {
	padding-top: 60px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #cff1ff 100%), url(../images/hk.jpg) no-repeat center center fixed;
	background-size: cover;
	animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media only screen and (min-width: 1000px) {
	.mobile {
		display: none !important;
	}

	.no-mobile {
		display: block !important;
	}

	.welcome {
		padding-top: calc(100vh - 350px);
		background: linear-gradient(to bottom, rgba(255,255,255,0) calc(100vh - 1000px), #cff1ff 100%), url(../images/hk_prof2.jpg) no-repeat center bottom fixed;
		background-size: cover;
		animation: fadein 2s;
	}
} 

/* Class CSS*/
.welcome-text {
	margin: auto;
	width: 80%;
	text-align: center;
}

.welcome h2 {
	padding-top: 10px;
}

.welcome a {
	color: #000;
}

.chevron-down {
	font-size: 40px;
}

/* Profile Picture Rounded Image Class */
.rounded-circle {
	border-radius: 50%;
}

.container {
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container .button {
	margin: 10px;
}

.button {
	width: 100px;
	height: 20px;
	border: 2px solid #3894ff;
	font-size: 15px;
	font-family: "Avenir";
	text-align: center;
	padding: 10px;
	border-radius: 6px;
	box-shadow: none;
}

.main {
	margin: auto;
	width: 80vw;
}

.main h1 {
	text-align: center;
}

@media only screen and (min-width: 1500px) {
	.welcome-text {
		width: 1200px;
	}

	.main {
		width: 1200px;
	}
}

.project-card {
	position: relative;
	margin: 10px;
	width: 360px;
	height: 380px;
	border: 2px solid #999;
	border-radius: 10px;
	background: #f1f1f1;
}

.project-card h2, .project-card p {
	margin: 0px;
	padding: 10px;
}

.project-card h2 {
	padding-bottom: 5px;
	font-family: "Produkt", serif;
	font-weight: bold;
}

.project-card img {
	width: 360px;
	height: 200px;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}

.project-card .time {
	font-style: italic;
	color: #888;
	position: absolute;
	bottom: 0;
}

.project-card .italic {
	font-style: italic;
	color: #888;
}

.project-card .content-margin {
	margin: 0 1em;
}

.award-card {
	position: relative;
	margin: 10px;
	padding: 20px;
	width: 100%;
	border: 2px solid #999;
	border-radius: 10px;
	background: #f1f1f1;
	text-align: left;
}

.award-card h2, .award-card p {
	margin: 0;
}

.award-card h2 {
	font-weight: bold;
}

.award-card .time {
	font-style: italic;
	color: #888;
	position: absolute;
	top: 20px;
	right: 20px;
}