# Javascript Node CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-javascript/ for more details

version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/ruby:2.5.1
      # - image: starefossen/ruby-node:2-8
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/web
    environment:
      - JEKYLL_ENV=production
      - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

    steps:
      - checkout

      - run:
          name: Create thumbnails for all images
          command: |
            # Change directory to images
            cd images/projects

            # Thumbnails for all JPGs
            for i in *.jpg
            do
            convert -thumbnail 400 $i thumbnail-$i || true
            echo $i processed
            done

            # Thumbnails for all PNGs
            for i in *.png
            do
            convert -thumbnail 400 $i thumbnail-$i || true
            echo $i processed
            done

            # Change directory back to home
            cd ..

      - run:
          name: Install dependencies
          command: bundle check || bundle install --jobs=4 --retry=3

      - run:
          name: Build Jekyll site
          command: bundle exec jekyll build

      - run:
          name: Test with HTMLproofer
          command: bundle exec htmlproofer ./_site --allow-hash-href --check-html --disable-external

      - run:
          name: Clone and deploy to build repository
          command: |
            # Clone repository
            git clone --depth 1 https://${GITHUB_TOKEN}@github.com/andrewhlu/andrewhlu.github.io.git

            # Move .git folder from website repository into _site directory
            mv andrewhlu.github.io/.git _site

            # Move CNAME file from website repository into _site directory
            mv andrewhlu.github.io/CNAME _site

            # Change directory to _site
            cd _site

            # Configure git and create commit
            git config user.email "alu@ucsb.edu"
            git config user.name "CircleCI"
            git add .
            git commit -m "Update: CI build #${CIRCLE_BUILD_NUM} committed by ${CIRCLE_USERNAME}"

            # Push to GitHub
            git push https://${GITHUB_TOKEN}@github.com/andrewhlu/andrewhlu.github.io.git master
