<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - Andrew H. Lu</title>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/default.css">
	</head>
	<body>
		<div class="top" style="background: linear-gradient(to bottom, rgba(255,255,255,0) calc(100vh - 750px), #000 100%), url({{ page.cover_image }}) no-repeat center center fixed; background-size: cover;">
			<div class="top-text">
				<h1>{{ page.title }}</h1>
				<h2>{{ page.description }}</h2>
			</div>
		</div>

		<div class="post">
			{{ content }}
		</div>
		{% include foot.html %}
	</body>
</html>