<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		<div class="welcome">
			<div class="container mobile">
				<img src="images/hk_prof_square.png" width="200" height="200" class="rounded-circle" alt="Profile Picture">
			</div>

			<div class="welcome-text">
	      <h1>Hi there! I'm Andrew Lu.</h1>
	      <h2>I'm a rising third year Computer Engineering student at UC Santa Barbara.<br>I'm currently a Software Development Intern at Sonos.</h2>
	    	<h2>I enjoy attending hackathons and building things in my free time. Take a look at some of my projects below!</h2>
	    </div>

    	<div class="container">
  			<a class="chevron-down" href="javascript:scroll();"><i class="fas fa-chevron-down"></i></a>
    	</div>
		</div>

		<div class="projects">
			<hr>
		</div>

		<div class="projects" id="projectHeader">
			<h1>Projects</h1>

			<div class="container">
				{% for page in site.projects %}
				{% if page.layout == "project" %}
				<div class="project-card">
					<img src="{{ page.image }}" width="200" height="200" alt="{{ page.title }}">
					<h2>{{ page.title }}</h2>
					<p>{{ page.description }}</p>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		{% include foot.html %}
	</body>
</html>