name: Jekyll Website Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x

    - name: Install dependencies
      run: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs=4 --retry=3

    - name: Build Jekyll site
      run: bundle exec jekyll build

    - name: Test with HTMLproofer
      run: bundle exec htmlproofer ./_site --allow-hash-href --check-html --disable-external

    - name: Deploy to build branch
      env:
        PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      run: |
        cd _site
        export remote_repo="https://$PERSONAL_ACCESS_TOKEN@github.com/${GITHUB_REPOSITORY}.git"
        export remote_branch="build"
        echo Remote Repo: $remote_repo
        echo Remote Branch: $remote_branch
        git init && \
        git config user.name "${GITHUB_ACTOR}"
        git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git add .
        echo -n 'Files to Commit:'
        ls -l | wc -l
        git commit -m 'Deploy GitHub Actions Website Build'
        git push --force $remote_repo $remote_branch
        rm -fr .git
        cd ../
